.app {
  background: #faf6ef;
  height: 100vh;
  width: 100vw;
}
.page-conatiner {
  display: flex;
}

.title-name-section {
  display: flex;
}
.title {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px;
}
.title header {
  font-weight: bolder;
  font-size: 30px;
}
