.nav_container {
  display: flex;
  align-items: center;
  /* font-size: 50px; */
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3c3934;
  box-sizing: border-box;
  /* border-bottom: 1px solid black; */
  background-color: #fffefc;
  box-shadow: 0 0 10px aliceblue;
  /* width: 100vw; */
  height: 7vh;
  z-index: 1;
}

.title-text {
  margin-left: 20px;
  font-size: 200%;
  color: #3c3934;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  text-decoration: none;
}

.title-text span {
  color: rgb(154, 29, 29);
  text-decoration: none;
}
